.wrapper {
    position: relative;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;

    &:before, &:after {
        content: "";
        position: absolute;
        left: 50%;
        min-width: 300vw;
        min-height: 300vw;
        background-color: #1168C7;
        animation-name: rotate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    &:before {
        bottom: 15vh;
        border-radius: 45%;
        animation-duration: 50s;
    }

    &:after {
        bottom: 12vh;
        opacity: .5;
        border-radius: 47%;
        animation-duration: 50s;
    }
}

.wrapper:nth-of-type(2){
    background-color: darken(_palette(accent1, bg), 15);

    &:before, &:after {
        content: "";
        position: absolute;
        left: 50%;
        min-width: 300vw;
        min-height: 300vw;
        background-color: darken(_palette(accent1, bg), 6);;
        animation-name: rotate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

.wrapper:nth-of-type(3){
    background-color: darken(_palette(accent1, bg), 15);

    &:before, &:after {
        content: "";
        position: absolute;
        left: 50%;
        min-width: 300vw;
        min-height: 300vw;
        background-color: darken(_palette(accent1, bg), 12);;
        animation-name: rotate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, 0) rotateZ(0deg);
    }
    50% {
        transform: translate(-50%, -2%) rotateZ(180deg);
    }
    100% {
        transform: translate(-50%, 0%) rotateZ(360deg);
    }
}